<header class="fixed-top bg-darks w-100">
    {# <div class="dNone header1 bg-darks w-100">
        <nav class="d-none d-xs-none d-sm-none d-md-block bg-darks nav1 w-100">
            <ul class="flex justify-content-around grey2 nav-item-content bg-darks w-100">
                <li><a href="#accueil" class="grey2">{{ menu[0].titre | upper }}</a></li>
                <li class="{{ menu[1].active == 'off' ? 'dNone' : '' }}"><a href="#presentation" class="grey2" id="nav_site_pres">{{ menu[1].titre | upper }}</a></li>
                <li class="{{ menu[2].active == 'off' ? 'dNone' : '' }}"><a href="#zone3" class="grey2" id="nav_site_zone_3">{{ menu[2].titre | upper }}</a></li>
                <li class="{{ menu[3].active == 'off' ? 'dNone' : '' }}"><a href="#zone4" class="grey2" id="nav_site_zone_4">{{ menu[3].titre | upper }}</a></li>
                <li class="{{ menu[4].active == 'off' ? 'dNone' : '' }}"><a href="#zone5" class="grey2" id="nav_site_zone_5">{{ menu[4].titre | upper }}</a></li>
                <li class="{{ menu[5].active == 'off' ? 'dNone' : '' }}"><a href="#contact" class="grey2" id="nav_site_zone_6">{{ menu[5].titre | upper }}</a></li>
                <li class="{{ menu[6].active == 'off' ? 'dNone' : '' }}"><a href="#shop" class="grey2" id="nav_site_zone_7">{{ menu[6].titre | upper }}</a></li>
            </ul>
        </nav>
    </div> #}


    {# <div class="d-xs-block d-sm-block d-md-none header2 bg-darks">
        <nav class="nav-rdw">
            <ul id="" class="grey2 nav-item-content">
                <li class="text-center"><a href="#accueil" class="grey2 text-center">{{ menu[0].titre | upper }}</a></li>
                <li class="text-center {{ menu[1].active == 'off' ? 'dNone' : '' }}"><a href="#presentation" class="grey2" id="nav_site_pres_rwd">{{ menu[1].titre | upper }}</a></li>
                <li class="text-center {{ menu[2].active == 'off' ? 'dNone' : '' }}"><a href="#zone3" class="grey2" id="nav_site_zone_3_rwd">{{ menu[2].titre | upper }}</a></li>
                <li class="text-center {{ menu[3].active == 'off' ? 'dNone' : '' }}"><a href="#zone4" class="grey2" id="nav_site_zone_4_rwd">{{ menu[3].titre | upper }}</a></li>
                <li class="text-center {{ menu[4].active == 'off' ? 'dNone' : '' }}"><a href="#zone5" class="grey2" id="nav_site_zone_5_rwd">{{ menu[4].titre | upper }}</a></li>
                <li class="text-center {{ menu[5].active == 'off' ? 'dNone' : '' }}"><a href="#contact" class="grey2" id="nav_site_zone_6_rwd">{{ menu[5].titre | upper }}</a></li>
                <li class="text-center {{ menu[6].active == 'off' ? 'dNone' : '' }}"><a href="#shop" class="grey2" id="nav_site_zone_7_rwd">{{ menu[6].titre | upper }}</a></li>
            </ul>
        </nav>
    </div> #}


</header>

    
    